.click-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    padding-top: 2rem;
    border-bottom-right-radius: 15px;
}

.click-column img{
    width: 80%;
}

.infos {
    background: var(--dark);

    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-align: center;

    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.infos h1{
    width: 100%;
    background: var(--dark);
}