.stats-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    border-radius: 0 0 15px 15px;
}

.stats-title{
    background: #0000008c;
    color: #fff;
 
    padding: 1rem 0 1rem 0;
    width: 100%;

    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
}

.stats-general{
    background: #000000b0;
    color: #BEB8DC;

    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.stats-general h2{
    background: #0000008c;
    color: #e4e4e4;

    text-align: center;
    font-size: 1.1em;
    font-weight: bolder;
}

.stats-general p small{
    color: #e4e4e4;
}