.store {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 0.5rem;

    padding:1rem 1rem 1rem 1rem;

    border-bottom-left-radius: 15px;

    overflow-y: scroll;
}

.store-title{
    width: 100%;

    background: var(--dark);
    color: var(--white);

    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;

    border-radius: 15px;
}

.btBuilds {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    background-color: var(--white);
    color: var(--black);

    padding: 20px;

    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.btBuilds[disabled]{
    background: var(--disable);

    cursor: not-allowed;
}

.btBuilds img{
    height: 64px;
}

.btBuilds-info{
    text-align: left;
}

.btBuilds-info h1{
    font-size: 1.5em;
    font-weight: bolder;
}

.cont-item {
    font-size: 3em;
}

.button-img-info{
    display: flex;
    gap: 1rem;
}
