@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

body {
    background: var(--background);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;

    margin: 0 auto;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100vh;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0.5rem;

    height: 3rem;

    background: var(--background);

    color: var(--white);
}

footer small {
    font-weight: lighter;
}

.column {
    background: var(--gray);
    width: 33%;
    height: 95vh;
}

.social-medias{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.social-medias-link{
    display: flex;
    align-items: center;
}

.social-medias-icons{
    height: 1.5rem;
}